@page
@model VisualAcademy.Pages.AppointmentsTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppointmentTypeModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentTypeModel.AppointmentTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentTypeModel.AppointmentTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentTypeModel.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentTypeModel.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentTypeModel.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentTypeModel.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentTypeModel.Tenant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentTypeModel.Tenant.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AppointmentTypeModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
